.div-card-a{
    margin-Left: "12vh";
    margin-top: "12vh";
    width: "20rem";
}
.card{
     border-radius: "0.5rem"
}

.card-header{
    border-top-right-radius: "0.5rem";
    border-top-left-radius: "0.5rem";
    padding-top: "1.5vh";
    padding-bottom: "1.5vh";  
}
.input-add-tasks{
    margin-top: "0.5rem";
    width: "18rem";
}
.button-add{
     margin-right: "1rem";
     margin-left: "8.8rem";
}